<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satellite Data Viewer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="light-theme">
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar">
                <header class="text-center py-1" onclick="window.location.href='/'" style="cursor: pointer;">
                    <h1 class="display-5 font-weight-bold text-light">
                        <span class="text-info">T</span>
                        <span class="text-info">A</span>
                        <span class="text-info">V</span>
                        <span class="text-info">E</span>
                        <span class="text-info">R</span>
                        <span class="text-info">N </span>
                    </h1>
                    <hr class="bg-info">
                    <br><br>
                </header>
                <a href="/">Home</a>
                <a href="/data/statistics">Data Statistics</a>
                <a href="/data/visualizations">Data Visualizations</a>
                <a href="/data/responsetimes">Atmospheric Response Times</a>
                <a href="/data/geomagnetic_storms">Geomagnetic Storms</a>
                <a href="/data/orbit_decay_tracks">Orbit Decay Tracks</a>
            </div>

            <div class="col-md-9 content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="/data/geomagnetic_storms">Geomagnetic Storms</a></li>
                    </ol>
                </nav>
                <h2>Select your options</h2>
                <form id="plotForm" method="POST" action="/update_plot_geomagnetic_storms">
                    <div class="form-group">
                        <label for="satellite">Choose a satellite:</label>
                        <select id="satellite" name="satellite" class="form-control">
                            {% for satellite in satellites %}
                            <option value="{{ satellite }}"
                            {% if satellite == selected_satellite %} selected {% endif %}>
                            {{ PRETTY_NAMES[satellite]['name'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="overlay">Choose an overlay:</label>
                        <select id="overlay" name="overlay" class="form-control">
                            {% for overlay in overlays %}
                            <option value="{{ overlay }}"
                                {% if overlay == selected_overlay %} selected {% endif %}>
                                {{ overlay }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                   <div class="form-group">
                        <label>Choose additional features to plot:</label>
                        <div id="columns">
                            <div class="row">
                            {% for column in columns %}
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="selected_columns[]"
                                        id="feature_{{ loop.index }}"
                                        value="{{ column }}"
                                        {% if column in selected_columns %} checked {% endif %}>
                                    <label class="form-check-label" for="feature_{{ loop.index }}">
                                        {{ PRETTY_COLUMN_DICT[column] }}
                                    </label>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Plot</button>
                </form>

                <div id="plotContainer" class="mt-4">
                    {{ plot_html | safe }}
                </div>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <footer class="footer">
                <p class="text-secondary">@Copyright 2026 Vanessa Mercea, Astronomical Institute of the University of Bern. <br> Built with Flask. </p>
            </footer>
        </div>
    </div>
    
</body>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='theme.js') }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</html>
